<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Lista de Serviço</title>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<!-- Font Icons -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
 

</head>

<body>


<div class="container">

	<div class="well">

		<h1>Lista de Serviço</h1>

		<div class="row">

			<div class="col-8">

				

				<table th:each="servico : ${lista}" class="table">
				    <td th:text="${servico.id}"></td>
				    <td th:text="${servico.nome}"></td>
				    <td th:text="${servico.descricao}"></td>
				    <td th:text="${servico.profissional.nome}"></td>
				    
				    <td><a th:href="${'/servico/editarServico/' + servico.id}">Editar</a></td>
				    
				    <td><a th:href="${'/servico/listarServico/' + servico.id}">Excluir</a></td>
				    
				</table>

			</div>

		</div>
		
	</div>

</div>







</body>

</html>